<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h2>当前计数为：{{ counter }}</h2>
    <input type="button" name="" id="" value="增加" @click="increment">
    <input type="button" name="" id="" value="减少" @click="decrement">
    <button @click="increment">+</button>
    <button v-on:click="decrement">-</button>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            msg: 'hello Vue',
            counter:0
        } ,
        methods:{
            increment(){
                this.counter++
            },
            decrement(){
                this.counter--
            }
        },
        beforeCreate(){},
        created(){},
    })
</script>
</body>
</html>